.item-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: top;
  position: relative;
  min-width: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &.bobomb {
    .item {
      background-color: chocolate;
    }
  }
}

.item__charge {
  width: 36px;
  height: 36px;
  display: block;

  &[data-maxvalue="2"] {
    clip-path: url('#item__charge-delimiters-mask-2');

    .item__charge-pie {
      transform: rotate(-180deg);
    }
  }

  &[data-maxvalue="3"] {
    clip-path: url('#item__charge-delimiters-mask-3');

    .item__charge-pie {
      transform: rotate(-150deg);
    }
  }

  &[data-maxvalue="4"] {
    clip-path: url('#item__charge-delimiters-mask-4');

    .item__charge-pie {
      transform: rotate(-135deg);
    }
  }

  &[data-maxvalue="5"] {
    clip-path: url('#item__charge-delimiters-mask-5');

    .item__charge-pie {
      transform: rotate(-126deg);
    }
  }

  &[data-maxvalue="6"] {
    clip-path: url('#item__charge-delimiters-mask-6');

    .item__charge-pie {
      transform: rotate(-120deg);
    }
  }
}

.item__charge-placeholder {
  fill: #d0d0ee;
  fill-rule: evenodd;
  opacity: 0.2;
}

.item__charge-pie {
  fill: transparent;
  stroke: #c31ec3;
  stroke-width: 6;
  stroke-dasharray: 0, 128;
  transition: stroke-dasharray .15s ease;
  transform: rotate(-90deg);
  transform-origin: center;
  r: 15px;
  cx: 18px;
  cy: 18px;
}

.item {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #17b6ed;
  border-radius: 50%;
  margin: auto;
  font-size: 0;
  transition: all 0.2s ease 0s;

  &[value="0"] {
    transform: scale(0);
    opacity: 0;
  }

  &[value="1"] {
    transform: scale(0.25);
  }

  &[value="2"] {
    transform: scale(0.5);
  }

  &[value="3"] {
    transform: scale(0.75);
  }

  &[value="4"] {
    transform: scale(1);
  }

  &.pop-animation {
    transform: scale(2);
    opacity: 0;
  }
}

.item__emitter-box {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  align-items: center;
}

.item__emitter-box {
  //display: none;
}

.playground-row:nth-child(1) {
  .item-box:nth-child(1) {
    .item__emitter-box {
      //display: block;
    }
  }
}

.item__emitter {
  position: absolute;
  z-index: 1;
  min-width: 10px;
  height: 320px;
  left: -5px;
  top: 0;
  transform-origin: center top;

  &.top {
    transform: rotate(-180deg);
  }
  &.right {
    transform: rotate(-90deg);
  }
  &.bottom {
    transform: rotate(0);
  }
  &.left {
    transform: rotate(90deg);
  }
}

.item__emitter-bullet {
  width: 100%;
  height: 100%;
  animation: drop-passage 1600ms linear 0s 1;
  animation-fill-mode: forwards;
}

.item__emitter-bullet-mark {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #e522e5;
  border-radius: 50%;
  top: -5px;
  box-shadow: 0 0 4px 2px #e522e5;
}

@keyframes drop-passage {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}


.item-box {
  &.bobomb {
    .item__charge-pie {
      stroke: #dcac1a;
    }
  }
}
