.item-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: top;
  position: relative;
  min-width: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  &.bobomb {
    .item {
      background-color: chocolate;
    }
  }
}

.item__charge {
  width: 36px;
  height: 36px;
  display: block;

  &[data-maxvalue="2"] {
    clip-path: url('#item__charge-delimiters-mask-2');

    .item__charge-pie {
      transform: rotate(-180deg);
    }
  }

  &[data-maxvalue="3"] {
    clip-path: url('#item__charge-delimiters-mask-3');

    .item__charge-pie {
      transform: rotate(-150deg);
    }
  }

  &[data-maxvalue="4"] {
    clip-path: url('#item__charge-delimiters-mask-4');

    .item__charge-pie {
      transform: rotate(-135deg);
    }
  }

  &[data-maxvalue="5"] {
    clip-path: url('#item__charge-delimiters-mask-5');

    .item__charge-pie {
      transform: rotate(-126deg);
    }
  }

  &[data-maxvalue="6"] {
    clip-path: url('#item__charge-delimiters-mask-6');

    .item__charge-pie {
      transform: rotate(-120deg);
    }
  }
}

.item__charge-placeholder {
  fill: #d0d0ee;
  fill-rule: evenodd;
  opacity: 0.2;
}

.item__charge-pie {
  fill: transparent;
  stroke: #c31ec3;
  stroke-width: 6;
  stroke-dasharray: 0, 128;
  transition: stroke-dasharray .15s ease;
  transform: rotate(-90deg);
  transform-origin: center;
  r: 15px;
  cx: 18px;
  cy: 18px;
}

.item {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #17b6ed;
  border-radius: 50%;
  margin: auto;
  font-size: 0;
  transition: all 0.2s ease 0s;

  &[value="0"] {
    transform: scale(0);
    opacity: 0;
  }

  &[value="1"] {
    transform: scale(0.25);
  }

  &[value="2"] {
    transform: scale(0.5);
  }

  &[value="3"] {
    transform: scale(0.75);
  }

  &[value="4"] {
    transform: scale(1);
  }

  &.pop-animation {
    transform: scale(2);
    opacity: 0;
  }
}

.drop-passage-anim-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.drop-passage {
  position: absolute;
  margin: auto;
  overflow: visible!important;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EFBF2E;
  }

  &.left {
    height: 20px;
    width: 0;
    top: 0;
    bottom: 0;
    right: 50%;

    &:before {
      right: 100%;
      margin: 0 -10px 0 0;
      box-shadow: 5px 0 10px 0 #EFBF2E;
    }
  }

  &.top {
    height: 0;
    width: 20px;
    left: 0;
    right: 0;
    bottom: 50%;

    &:before {
      top: 0;
      margin: -10px 0 0 0;
      box-shadow: 0 5px 10px 0 #EFBF2E;
    }
  }

  &.right {
    height: 20px;
    width: 0;
    top: 0;
    bottom: 0;
    left: 50%;

    &:before {
      left: 100%;
      margin: 0 0 0 -10px;
      box-shadow: -5px 0 10px 0 #EFBF2E;
    }
  }

  &.bottom {
    height: 0;
    width: 20px;
    left: 0;
    right: 0;
    top: 50%;

    &:before {
      bottom: 0;
      margin: 0 0 -10px 0;
      box-shadow: 0 -5px 10px 0 #EFBF2E;
    }
  }

  &.top-left {
    height: 0;
    width: 20px;
    left: 0;
    right: 0;
    bottom: 50%;
    transform: rotate(-45deg);
    transform-origin: bottom center;

    &:before {
      top: 0;
      margin: -10px 0 0 0;
      box-shadow: 0 5px 10px 0 #EFBF2E;
    }
  }

  &.top-right {
    height: 0;
    width: 20px;
    left: 0;
    right: 0;
    bottom: 50%;
    transform: rotate(45deg);
    transform-origin: bottom center;

    &:before {
      top: 0;
      margin: -10px 0 0 0;
      box-shadow: 0 5px 10px 0 #EFBF2E;
    }
  }

  &.bottom-right {
    height: 0;
    width: 20px;
    left: 0;
    right: 0;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: top center;

    &:before {
      bottom: 0;
      margin: 0 0 -10px 0;
      box-shadow: 0 -5px 10px 0 #EFBF2E;
    }
  }

  &.bottom-left {
    height: 0;
    width: 20px;
    left: 0;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: top center;

    &:before {
      bottom: 0;
      margin: 0 0 -10px 0;
      box-shadow: 0 -5px 10px 0 #EFBF2E;
    }
  }
}
