:root {
  --bubble-mainColor: #c31ec3;
  --bubble-placeholderColor: #d0d0ee;

  --cell-width: 40px;
  --cell-height: 40px;

  --charge-width: 36px;
  --charge-height: 36px;

  --stroke-width: 6px;
  --chart-radius: calc(var(--charge-width) / 2 - var(--stroke-width) / 2);
}

.item-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: top;
  position: relative;
  min-width: var(--cell-width);
  width: var(--cell-width);
  height: var(--cell-height);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &[data-value="0"] {
    .item__charge-pie {
      transition: none;
    }
  }
}

.item__selection {
  width: calc(var(--cell-width) - 2px);
  height: calc(var(--cell-height) - 2px);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  opacity: 0.8;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 7px solid var(--bubble-placeholderColor);
    top: -11px;
    right: -11px;
    border-radius: 50%;
  }
}

.item__explosion {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 5;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px #ffffff, 0 0 18px 7px var(--bubble-mainColor);

  animation: explosion 1s ease-out 0s 1;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}

.item__injection {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(255,186,255) 0%, rgb(255,0,255) 96%);
  z-index: 5;
  border-radius: 50%;
  box-shadow: 0 0 15px 7px rgba(255, 0, 255, 1), 0 0 20px 1px rgba(255, 255, 255, 1);

  animation: injection 0.2s linear 0s 1;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}

@keyframes explosion {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes injection {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.item__charge {
  width: var(--charge-width);
  height: var(--charge-height);
  display: block;

  &[data-maxvalue="2"] {
    clip-path: url('#item__charge-delimiters-mask-2');

    .item__charge-pie {
      transform: rotate(-180deg);
    }
  }

  &[data-maxvalue="3"] {
    clip-path: url('#item__charge-delimiters-mask-3');

    .item__charge-pie {
      transform: rotate(-150deg);
    }
  }

  &[data-maxvalue="4"] {
    clip-path: url('#item__charge-delimiters-mask-4');

    .item__charge-pie {
      transform: rotate(-135deg);
    }
  }

  &[data-maxvalue="5"] {
    clip-path: url('#item__charge-delimiters-mask-5');

    .item__charge-pie {
      transform: rotate(-126deg);
    }
  }

  &[data-maxvalue="6"] {
    clip-path: url('#item__charge-delimiters-mask-6');

    .item__charge-pie {
      transform: rotate(-120deg);
    }
  }
}

.item__charge-placeholder {
  fill: transparent;
  stroke: var(--bubble-placeholderColor);
  stroke-width: var(--stroke-width);
  fill-rule: evenodd;
  opacity: 0.23;
  r: var(--chart-radius);
  cx: calc(var(--charge-width) / 2);
  cy: calc(var(--charge-height) / 2);
}

.item__charge-pie {
  --chart-perimeter: calc(3.141592653 * (var(--chart-radius) * 2));
  --chart-angle-size: calc(var(--chart-perimeter) / 360);

  fill: transparent;
  stroke: var(--bubble-mainColor);
  stroke-width: var(--stroke-width);
  stroke-dasharray: calc(var(--chart-angle) * var(--chart-angle-size)), calc(var(--chart-angle-size) * (360 - var(--chart-angle)));
  transition: stroke-dasharray .15s ease;
  transform: rotate(-90deg);
  transform-origin: center;
  r: var(--chart-radius);
  cx: calc(var(--charge-width) / 2);
  cy: calc(var(--charge-height) / 2);
}

.item__emitter-box {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  align-items: center;
}

.item__emitter-box {
  //display: none;
}

.playground-row:nth-child(1) {
  .item-box:nth-child(1) {
    .item__emitter-box {
      //display: block;
    }
  }
}

.item__emitter {
  --railLength: 320px;

  position: absolute;
  z-index: 1;
  min-width: 6px;
  height: var(--railLength);
  left: -3px;
  top: 0;
  transform-origin: center top;

  &.top {
    transform: rotate(-180deg);
  }

  &.right {
    transform: rotate(-90deg);
  }

  &.bottom {
    transform: rotate(0);
  }

  &.left {
    transform: rotate(90deg);
  }

  --diagonalRailLength: calc(var(--railLength) * 1.41);

  &.leftTop {
    height: var(--diagonalRailLength);
    transform: rotate(-225deg);
  }

  &.topRight {
    height: var(--diagonalRailLength);
    transform: rotate(-135deg);
  }

  &.rightBottom {
    height: var(--diagonalRailLength);
    transform: rotate(-45deg);
  }

  &.bottomLeft {
    height: var(--diagonalRailLength);
    transform: rotate(45deg);
  }
}

.item__emitter-bullet {
  width: 100%;
  height: 100%;
  animation: drop-passage 1600ms linear 0s 1;
  animation-fill-mode: forwards;
  will-change: transform;
}

.item__emitter-bullet-mark {
  display: block;
  position: relative;
  width: 6px;
  height: 6px;
  background-color: var(--bubble-mainColor);
  border-radius: 50%;
  top: -3px;
  box-shadow: 0 0 4px 2px var(--bubble-mainColor);
}

@keyframes drop-passage {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.item__emitter-indicator {
  --railLength: 10px;

  position: absolute;
  z-index: 1;
  min-width: 4px;
  height: var(--railLength);
  left: -2px;
  top: 0;
  transform-origin: center top;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    margin: auto;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: var(--bubble-placeholderColor);
    opacity: 0.5;
  }

  &.top {
    transform: rotate(-180deg);
  }

  &.right {
    transform: rotate(-90deg);
  }

  &.bottom {
    transform: rotate(0);
  }

  &.left {
    transform: rotate(90deg);
  }

  &.leftTop {
    transform: rotate(-225deg);
  }

  &.topRight {
    transform: rotate(-135deg);
  }

  &.rightBottom {
    transform: rotate(-45deg);
  }

  &.bottomLeft {
    transform: rotate(45deg);
  }
}

.item__type {
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 1;
  left: 1px;
  top: 1px;
  fill: var(--bubble-placeholderColor);
  opacity: 0.4;
}

.item-box {
  &.item-box_armed {
    .item__type {
      fill: var(--bubble-mainColor);
      opacity: 1;
    }

    .item__emitter-indicator {
      &:after {
        background-color: var(--bubble-mainColor);
        width: 3px;
        height: 3px;
        opacity: 1;
      }
    }
  }

  &.bobomb {
    --chart-radius: 13px;
    --stroke-width: 4px;
    --bubble-mainColor: #dcac1a;
  }

  &.laser {
    --chart-radius: 13px;
    --stroke-width: 4px;
    --bubble-mainColor: #dd1d1d;
  }
}
