.drops-counter {
  font-size: 25px;
  text-transform: uppercase;
}

.drops-counter_warning-lvl-1 {
  background-color: #EFBF2E;
}

.drops-counter_warning-lvl-2 {
  background-color: tomato;
}

.drops-counter_warning-lvl-3 {
  background-color: orangered;
  animation: blink 1s infinite;
}

.drops-counter_last-hope {
  background-color: darkgray;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
