@font-face {
  font-family: 'HelveticaNeueLT Com 35 Th';
  src: url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-Th.eot');
  src: url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-Th.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-Th.woff') format('woff'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-Th.ttf') format('truetype'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-Th.svg#HelveticaNeueLTCom-Th') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 35 Th';
  src: url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-ThIt.eot');
  src: url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-ThIt.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-ThIt.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-ThIt.woff') format('woff'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-ThIt.ttf') format('truetype'),
      url('./assets/fonts/HelveticaNeueLT/HelveticaNeueLTCom-ThIt.svg#HelveticaNeueLTCom-ThIt') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Telegrama Raw';
  src: url('./assets/fonts/telegrama-raw/TELEGRAMA-RAW.eot');
  src: url('./assets/fonts/telegrama-raw/TELEGRAMA-RAW.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/telegrama-raw/TELEGRAMA-RAW.woff2') format('woff2'),
  url('./assets/fonts/telegrama-raw/TELEGRAMA-RAW.woff') format('woff'),
  //url('./assets/fonts/telegrama-raw/TELEGRAMA-RAW.ttf')  format('truetype'),
  url('./assets/fonts/telegrama-raw/TELEGRAMA-RAW.svg#Telegrama') format('svg');
}

@font-face {
  font-family: 'Telegrama Raw Osn';
  src: url('/assets/fonts/telegrama-raw/TELEGRAMA-RAWOSN.eot');
  src: url('/assets/fonts/telegrama-raw/TELEGRAMA-RAWOSN.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/telegrama-raw/TELEGRAMA-RAWOSN.woff2') format('woff2'),
  url('/assets/fonts/telegrama-raw/TELEGRAMA-RAWOSN.woff') format('woff'),
  //url('/assets/fonts/telegrama-raw/TELEGRAMA-RAWOSN.ttf')  format('truetype'),
  url('/assets/fonts/telegrama-raw/TELEGRAMA-RAWOSN.svg#Telegrama') format('svg');
}
