.gameplayScene {
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.gameplayScene-header {
  display: flex;
  width: 100%;
  padding: 12px 0 8px 0;
  margin-top: auto;
}

.gameplayScene-footer {
  margin: auto 0 0 0;
  position: relative;
}

.gameplayScene-headerCol {}

.gameplayScene-headerCol--progress {
  flex: 1 1 0;
}

.gameplayScene-buttonMenu {
  display: block;
  width: 33px;
  height: 33px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  margin: 3px 0 0 20px;
}

.gameplayScene-gameProgress {
  margin-bottom: 22px;
  flex: 1 1 0;
}

.gameplayScene-gameProgressLevels {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
}

.gameplayScene-gameProgressRooms {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 14px;
}

.gameplayScene-buttonReset {
  display: block;
  width: 33px;
  height: 33px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  margin: 3px 20px 0 0;
}

.gameplayScene-armory {
  margin: auto 0;
  padding: 4px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  min-height: 100px;
  justify-content: center;
  align-items: flex-start;
}
