*, :before, :after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  margin: 0;
  font: normal normal 14px/1.4 Helvetica, Arial, sans-serif;
  background: #ffffff;
  height: 100%;
}

a {
  color: #17b6ed;
  text-decoration: none;
}